@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auto-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
}
.auto-grid1{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

@media (min-width:500px) {
  .auto-grid1{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}
}

.hero{
  background: linear-gradient(to bottom, #7dd76d 30%, #fff 70%);
}

.how1{
  background: linear-gradient(to bottom, #fff 20%, #FBECEC 80%);
}
.how2{
  background: linear-gradient(to bottom, #fff 20%, #D4EDD4 80%);
}
.how3{
  background: linear-gradient(to bottom, #fff 20%, #fffded 80%);
}
.how4{
  background: linear-gradient(to bottom, #fff 20%, #D0D8F4 80%);
}
.list-filter-bg{
  background: linear-gradient(to bottom, #aff1c3 20%, #33955b 80%);
}
/* 
.comment{
  background-image: ur;
} */